<ul class="nav" id="side-menu">
  <li>
    <%= link_to t(".dashboard"), "#" %>
  </li>
  <li>
    <%= link_to t(".users"), admin_users_path %>
  </li>
  <li>
    <%= link_to t(".subjects"), admin_subjects_path %>
  </li>
  <li>
    <%= link_to t(".tests"), admin_tests_path %>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Questions <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "List Questions", "#" %></li>
      <li><%= link_to "Add Questions", "#" %></li>
    </ul>
  </li>
</div>
</ul>
