<% provide(:title, t(".edit_question")) %>
<% provide(:button_text, t(".save_change")) %>
<h1><%= t ".edit_question" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @question] do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :question %>
      <%= f.text_area :question, class: "form-control" %>

      <%= f.submit t(".save_change"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
