<% provide(:title, t(".tests")) %>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>
          <b><%= t".list_test"%></b>
        </h2>
        <%= link_to t(".create"), new_admin_test_path, class: "btn btn-success" %>
        <table width="100%" class="table table-bordered table-hover" id="datatable">
          <thead>
            <tr>
              <th><%= t ".number" %></th>
              <th><%= t ".test_name" %></th>
              <th><%= t ".time_limit" %></th>
              <th><%= t ".subject_id" %></th>
              <th><%= t ".created_at" %></th>
              <th colspan="2"><%= t ".action" %></th>
            </tr>
          </thead>
          <tbody>
            <% @tests.each_with_index do |test,index| %>
            <tr>
              <td><%= create_index params[:page], index, 5 %></td>
              <td><%= test.name %></td>
              <td><%= test.time_limit %></td>
              <td><%= test.subject_id %></td>
              <td><%= test.created_at %></td>
              <td>
                <%= link_to t(".edit"), edit_admin_test_path(test.id),
                  class: "btn btn-warning" %>
              </td>
              <td>
                <%= link_to t(".delete"), admin_test_path(test.id),
                method: :delete, data: {confirm: t(".confirm")}, class: "btn btn-danger" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @tests %>
      </div>
    </div>
  </div>
</div>
