<% provide(:title, t(".add_new_test")) %>
<% provide(:button_text, t(".create_test")) %>
<h1><%= t ".add_new_test" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @test] do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :subject %>
       <%= select_tag :subject, options_for_select(Subject.pluck :name ),
        class: "form-control select-form" %>
      <%= f.label :time_limit %>
      <%= f.text_area :time_limit, class: "form-control" %>
      <%= f.label :name %>
      <%= f.text_area :name, class: "form-control" %>
      <%= f.submit t(".create_test"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
